.MMM-MetroTransit .header{
  color: white;               /* Header color. Default is white. */
  text-align: left;           /* Align header text. (left, center, right) */
}

.MMM-MetroTransit table {
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
}

.MMM-MetroTransit th {
  color: white;               /* Color the shape. Default is white. */
  text-align: center;
  font-family: Roboto Condensed;
}

.MMM-MetroTransit td {
  color: white;               /* Color the shape. Default is white. */
  text-align: center;
  padding-bottom: 5px;
  font-size: 18px;
}

.MMM-MetroTransit .bus {
  color: yellow;               /* Color the shape. Default is white. */
}

.MMM-MetroTransit .dest {
  font-size: 12px;
}

.MMM-MetroTransit .stop {
  font-size: 12px;
}